
format = """
[ î‚¶](#00ffcc)\
$directory\
[î‚° ](fg:#00ffcc bg:#ff9900)\
$git_branch\
$git_state\
[î‚°](fg:#ff9900 bg:#663300)\
$git_status\
$git_metrics\
[î‚°](fg:#663300 bg:#cc00cc)\
$username\
$hostname\

[î‚° ](fg:#cc00cc bg:#333333)\
$shell\
$cmd_duration\


[$rust\
$golang\
$docker\
$package\
$nodejs\
$python\
$java\
$haskell\
](bg:#333333)\
[î‚° ](fg:#333333)\

$line_break\

$character"""
# $jobs\


add_newline = false

[line_break]
disabled = false

[directory]
style = "fg:#000000 bg:#00ffcc"
read_only = "îˆ¸ "
truncation_length = 4
truncate_to_repo = false
use_os_path_sep = true
format = '[$read_only]($read_only_style)[$path ]($style)'
read_only_style = 'fg:#000000 bg:#00ffcc'

[username]
style_user = 'fg:#000000 bg:#cc00cc italic'
style_root = '#fff000'
format = '[ó°œ $user]($style)'
show_always = true
# disabled = true
# Disabled because Tmux already provides these

[hostname]
ssh_only = false
format = '[$hostname](bold purple) '
disabled = true
# Disabled because Tmux already provides these

[character]
success_symbol= '[ î­°](#00ff00 bold)'
error_symbol = '[ ï„](bold red)'
vicmd_symbol = '[ î­°](#0000ff)'

[shell]
format = '[$indicator >]($style)'
bash_indicator = 'î¯Š'
zsh_indicator = 'ğ–¹'
fish_indicator = 'ó°ˆº'
powershell_indicator = 'ï‘ _'
unknown_indicator = 'mystery shell'
style = 'fg:#00ffff bg:#333333'
disabled = false

[os]
format = "[ïŒª  âœ]($style)"
style = "blue"
disabled = false

[os.symbols]
Pop = "ïŒª"

[git_branch]
format = "[$branch $symbol]($style)"
style = 'fg:#000000 bg:#ff9900'

[git_commit]
commit_hash_length = 8
style = 'fg:#000000 bg:#ff9900'

[git_state]
style = 'fg:#000000 bg:#ff9900'

[git_status]
style = 'fg:#ffffff bg:#663300'
format = '([\[$all_status$ahead_behind\] ]($style))'

[git_metrics]
format = '([+$added ]($added_style))([-$deleted]($deleted_style))'
added_style =   'bg:#663300 fg:#00ff00'
deleted_style = 'bg:#663300 fg:#ff0000'
disabled = false

[jobs]
symbol = 'ï€“'
style = 'yellow'

[cmd_duration]
format = "[$duration]($style)"
min_time = 300
show_milliseconds = false
style = 'bold italic fg:#00ff00 bg:#333333'

# Programming Languages config

[aws]
symbol = "îŒ½  "

[conda]
symbol = "ï„Œ "

[dart]
symbol = "î˜ "

[elixir]
symbol = "î‰µ "

[elm]
symbol = "î˜¬ "

[golang]
symbol = "î˜§ "

[hg_branch]
symbol = "ï˜ "

[java]
symbol = "î‰– "

[julia]
symbol = "î˜¤ "

[haskell]
symbol = "Î» "

[memory_usage]
symbol = "ó°› "

[nim]
symbol = "ó°†¥ "

[nix_shell]
symbol = "ï‹œ "

[package]
symbol = "ó°— "
disabled = false
format = "[$symbol($version )]($style)"

[perl]
symbol = "î© "

[php]
symbol = "î˜ˆ "

[nodejs]
format = "[$symbol($version )]($style)"
detect_files = ["package.json", ".node-version"]
detect_folders = ["node_modules"]

[rust]
symbol = "î¨ "
format = '[$symbol($version)]($style) '

[python]
format = "[$symbol $version]($style)"

[container]
format = '[$symbol \[$name\]]($style) '

[docker_context]
symbol = "ïŒˆ "
format = "via [$symbol$context]($style) "
style = "blue bold"
only_with_files = true
detect_files = ["docker-compose.yml", "docker-compose.yaml", "Dockerfile"]
detect_folders = []
disabled = false
